{
  "/Plone": {
    "email": ["john.doe@example.com", "olivia.doe@example.com"],
    "base_uri": "http://example1.ch",
    "timeout_config": "1"
  },
  "/Plone1": {
    "email": ["emily.doe@example.com"],
    "base_uri": "http://example2.ch",
    "timeout_config": "1"
  }
}
